* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 127px;
    background-color: #000769;
    display: flex;
    justify-content: center;
}

#logo-nome {
    box-sizing: content-box;
    width: 483.95px;
    height: 127px;
    display: flex;
    align-items: center;
}

#logo-nome figure {
    box-sizing: content-box;
    width: 33px;
    height: 45px;
    margin-right: 15px;
}

#logo-nome figure img {
    width: 100%;
    height: 45px; 
}

#nome-da-loja {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 1.375rem;
    word-spacing: normal;
    font-weight: 400;
    line-height: normal;
}

#header-menu {
    box-sizing: content-box;
    display: flex;
    justify-content: flex-end;
    width: 1299px;
    height: 127px;
    align-items: center;
}

.menu-lista {
    list-style: none;
    float: left;
}

.menu-lista li {
    position: relative;
    float: left;
    box-sizing: content-box;
}

.titulo-pri {
    width: 102px;
}

.titulo-seg {
    width: 89px;
}

.titulo-ter {
    width: 101px;
}

.titulo-quar {
    width: 146px;
}

.titulo-quin {
    width: 114px;
}

.menu-lista li a {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    line-height: 2.143em;
    word-spacing: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 0 10px;
    display: block;
    text-align: center;
}

.menu-lista li a:hover {
    cursor: pointer;
    color: #995e3e;

}

.titulos-menu {
    font-size: 0.875rem;
}

.menu-lista li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #000769;
    display: none;
}

.menu-lista li:hover ul, .menu-lista li.over ul {
    display: block;
   
}
.menu-lista>li>ul {
    list-style: none;
}

.menu-lista>li>ul>li {
    width: max-content;
}

.subtitulos-menu {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    line-height: 2.143em;
    word-spacing: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 0 10px;
    display: block;
    text-align: center;
    list-style: none;
}

.subtitulos-menu:hover {
    cursor: pointer;
    color: #995e3e;
}

.header-redes-sociais {
    box-sizing: content-box;
    width: 80px;
    display: flex;
    justify-content: center;
    gap: 7px;
}

#carrinho-de-compras {
    width: 25px;
    height: 21px;
    box-sizing: content-box;
    object-fit: fill;
    cursor: pointer;
    margin-left: 10px;
}

#carrinho-de-compras>img {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#video-banner {
    position: relative;
    margin-top: 4%;
    width: 1743px;
    height: 860px;
    display: flex;
    justify-content: center;

}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
} 

.chamada-da-loja {
    position: absolute;
    top: 25%;
    left: 35%;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 72px;
    line-height: 90px;
    font-weight: 400;
    overflow-wrap: break-word;
    width: 508px;
    height: 197px;
    text-align: center;
}

.frase-da-loja {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 33.4px;
    position: absolute;
    top: 52%;
    left: 38.5%;
}

.botao-comprar-video {
    position: absolute;
    top: 60%;
    box-sizing: border-box;
    width: 144px;
    height: 45px;
    background-color: #fc9823;
    border: none;

}

.botao-comprar-video a {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 21px;
    word-spacing: normal;
    cursor: pointer;
    text-decoration: none;
    
}

.botao-comprar-video a:hover {
    background-color: #000769a8;
    color: #ffffff;
}

.botao-comprar-video:hover {
    background-color: #000769a8;
    color: #ffffff;
}

#secoes-loja {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    gap: 1.7%;
}

#secoes-loja figure {
    box-sizing: content-box;
    width: 560px;
    height: 520px;

}

#secoes-loja img {
    width: 100%;
    height: 100%;
}

.tipos-de-aquarios {
    position: relative;
}

.tipos-de-aquarios h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: #ffffff;
    line-height: 38.5px;
    position: absolute;
    top: 37%;
    left: 39%;
}

#informacoes-da-loja {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

#informacoes-da-loja h2 {
    font-family: 'Oswald', sans-serif;
    color: #fc9823;
    text-align: center;
    font-size: 50px;
    line-height: normal;
    word-spacing: normal;
    margin-bottom: 35px;

}

#informacoes-da-loja h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.73em;
    word-spacing: normal;
    font-weight: 400px;
    color: #000769;
    text-align: center;
    margin-bottom: 30px;
}

#informacoes-da-loja p {
    font-family: 'Raleway', sans-serif;
    color: #000769;
    font-size: 15px;
    line-height: 1.88em;
    word-spacing: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

#informacoes-da-loja button {
    border: none;
    background-color: #fc9823;
    box-sizing: content-box;
    width: 110px;
    height: 45px;
}

#informacoes-da-loja button:hover {
    background-color: #000769a8;
}

#informacoes-da-loja button:hover a{
    color: #ffffff;
}

#informacoes-da-loja a:hover {
    color: #ffffff;
}


#informacoes-da-loja>button>a {
    font-family: 'Raleway', sans-serif;
    color: #000769;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

#contato-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 171.4px;
    background-color: #000769;
    gap: 7%;
}

#contato-footer h3 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15px;
    line-height: normal;
    word-spacing: normal;
    font-weight: 400;
    text-align: center;
}

.redes-footer {
    box-sizing: content-box;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 10px;
}

#contato-footer address > a {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15px;
    line-height: normal;
    word-spacing: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
}

#contato-footer address {
    margin-top: 15px;
    margin-bottom: 10px;
}

#contato-footer p {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15px;
    line-height: normal;
    word-spacing: normal;
    font-weight: 400;
    text-align: center;
}

.endereco-footer-superior> p,h3 {
    line-height: 2em;
    box-sizing: content-box;
    margin-bottom: 10px;
}

#final {
    background-color: #e4e4e4;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #000769;
    text-align: center;
    word-spacing: -0.28px;
    line-height: 1.7;
    height: 45px;
    

}

#final a {
    color: #000769;
    text-decoration: none;
}
